# **ASSIGNMENT 1**

# **NAME: SHAIVAL JADHAV**

In [ ]:
#pattern no:1
rows1 = int(input("Enter number of rows: "))
n = rows1
# reverse for loop
for i in range(rows1, 0, -1):
    for j in range(0, i):
        print(n, end=' ')
    print("\r")

Enter number of rows: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
#pattern no:2
rows2 = int(input("Enter number of rows: "))
for i in range(rows2, 0, -1):
    for j in range(0, i + 1):
        print(j, end=" ")
    print()

Enter number of rows: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
#pattern no.3
rows3 = int(input("Enter number of rows: "))
i = 1
while i <= rows3:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print()

Enter number of rows: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
#pattern no.4
rows4 = int(input("Enter number of rows: "))
for i in range(1, rows4):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

Enter number of rows: 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
#pattern no.5
rows5 = int(input("Enter number of rows: "))
start = 1
stop = 2
currentNumber = stop
for row in range(2, rows5):
    for col in range(start, stop):
        currentNumber -= 1
        print(currentNumber, end=" ")
    print()
    start = stop
    stop += row
    currentNumber = stop

Enter number of rows: 6
1
3 2
6 5 4
10 9 8 7

In [ ]:
#pattern no.6
from math import factorial
rows6 = int(input("Enter number of rows: "))
for i in range(0, rows6):
    for j in range(i + 1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end =' ')
    print("")

Enter number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
#pattern no.7
rows7 = int(input("Enter number of rows: "))
for i in range(1, rows7 + 1):
    for j in range(1, rows7 + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

Enter number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
#pattern no.8
rows8 = int(input("Enter number of rows: "))
for i in range(0, rows8):
    for j in range(1, i + 1):
        print(i * j, end=" ")
    print("")

Enter number of rows: 9

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
#pattern no.9
rows9 = int(input("Enter number of rows: "))
k = 2 * rows9 - 2
for i in range(rows9, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k += 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

Enter number of rows: 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
#pattern no.10
rows10 = int(input("Enter number of rows5: "))
k = 2 * rows10 - 2
for i in range(0, rows10):
    for j in range(0, k):
        print(end=" ")
    k -= 1
    for j in range(0, i+1):
        print("* ", end=" ")
    print("")

Enter number of rows5: 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [ ]:
#pattern no.11
rows11 = int(input("Enter number of rows: "))
for  i in range(1,rows11):
    for j in range(1, i + 1):
        print("*", end=" ")
    print() 
print()
   
for  i in range(rows11 - 1, 0, -1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Enter number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#pattern no.12
rows12 = int(input("Enter number of rows: "))
for  i in range(1, rows12):
    for j in range(1, i + 1):
        print("*", end=" ")
    print() 

for  i in range(rows12, 0, -1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#pattern no.13
rows13 = int(input("Enter number of rows: "))
i = 1
while i <= rows13:
    j = i
    while j < rows13:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows13
while i >= 1:
    j = i
    while j <= rows13:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
#pattern no.14
rows14 = int(input("Enter number of rows: "))
i = 0
while i <= rows14 - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows14 - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows14 - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows14 - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter number of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#pattern no.15
rows15 = int(input("Enter number of rows: "))
print("*" * rows15, end="\n")
i = (rows15 // 2) - 1
j = 2
while i != 0:
    while j <= (rows15 - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

Enter number of rows: 16
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*